body{
    margin: 0px;
    text-align: center;
}

/* title */
#title h1{
    font-size: 60px;
}

/*content*/
#content{
    padding: 4% 8% 4% 8%;
}

.img{
    display: inline;
    text-align: center;

}

.img img{
    width: 20%;
}

#content button{
    width: 5rem;
    height: 3rem;
    border-radius: 20px;
    border: none;
    background: black;
    color: white;
}

